div{
    height: 200px;
    width: 200px;
    background-color: saddlebrown;
    border: 2px solid black;
    margin: 20px;
    display: inline-block;
    text-align: center;
}
#static{
    position: static;
    background-color: rgb(118, 150, 161);
    left: 100px;
    bottom: 100px;
}
#relative{
    position: relative;
    background-color: rgb(139, 165, 174);
    left: 100px;
    bottom: 100px;
}
#absolute{
    position: absolute;
    background-color: rgb(145, 177, 189);
    left: 100px;
    bottom: 100px;
}   
#fixed{
    position: fixed;
    background-color: rgb(161, 191, 201);
    left: 100px;
    bottom: 100px;
}
#sticky{
    position: sticky;
    background-color: rgb(177, 205, 211);
    left: 100px;
    bottom: 100px;
}